<!--Main Navigation-->
<header>

    <!-- Sidebar -->
    <div class="sidebar-fixed position-fixed">

        <a class="logo-wrapper waves-effect">
            <img src="../../../../assets/img/angular-mdb.png" class="img-fluid" alt="">
        </a>

        <!--No Logueado-->
        <div class="list-group list-group-flush" *ngIf="!isLoggedIn">

            <a routerLink="login" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="sign-in-alt" class="mr-3"></mdb-icon>Iniciar Sesión</a>
            <a routerLink="registrar/usuario" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="user-plus" class="mr-3"></mdb-icon>Registrar Usuario</a>
            <a routerLink="registrar/tienda" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="store-alt" class="mr-3"></mdb-icon>Registrar Tienda</a>

        </div>

        <!--Administrador-->
        <div class="list-group list-group-flush" *ngIf="isLoggedIn && getTipoUsuario() == '1'">

            <a routerLink="perfil-administrador/Dashboard" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard</a>
            <a routerLink="perfil-administrador/Solicitudes" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="table" class="mr-3"></mdb-icon>Solicitudes</a>
            <a routerLink="perfil-administrador/AdministrarCategorias" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"> 
                <mdb-icon fas icon="th-list" class="mr-3"></mdb-icon>Administrar Categorías</a> 
            <a routerLink="perfil-administrador/Pedidos" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect"> 
                <mdb-icon far icon="paper-plane" class="mr-3"></mdb-icon>Pedidos</a> 

        </div>

        <!--Tienda-->
        <div class="list-group list-group-flush" *ngIf="isLoggedIn && getTipoUsuario() == '2'">

            <a routerLink="perfil-tienda/Dashboard" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard</a>
            <a routerLink="perfil-tienda/AdministrarDepartamentos" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="clipboard" class="mr-3"></mdb-icon>Administrar Departamentos</a>
            <a routerLink="perfil-tienda/AdministrarProductos" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="boxes" class="mr-3"></mdb-icon>Administrar Productos</a>

        </div>

        <!--Usuario-->
        <div class="list-group list-group-flush" *ngIf="isLoggedIn && getTipoUsuario() == '3'">

            <a routerLink="perfil-usuario/Dashboard" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="chart-pie" class="mr-3"></mdb-icon>Dashboard</a>
            <a routerLink="perfil-usuario/Carrito" routerLinkActive="active" class="list-group-item list-group-item-action waves-effect">
                <mdb-icon fas icon="shopping-cart" class="mr-3"></mdb-icon>Carrito</a>

        </div>

    </div>
    <!-- Sidebar -->

    <!--Navbar-->
    <mdb-navbar [containerInside]="false" SideClass="navbar navbar-expand-lg navbar-light white">

        <!-- Navbar brand -->
        <logo class="ml-3">
            <a class="navbar-brand">
                <strong class="blue-text">CCV</strong>
            </a>
        </logo>

        <!-- Collapsible content -->
        <links>

            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" mdbWavesEffect>Centro Comercial Virtual</a>
                </li>
            </ul>
            <!-- Links -->

            <!-- Search form -->
            <ul class="navbar-nav nav-flex-icons">

                    <li class="nav-item">
                        <a class="nav-link" target="_blank" mdbWavesEffect>
                            <mdb-icon fab icon="facebook-f"></mdb-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" mdbWavesEffect>
                            <mdb-icon fab icon="twitter"></mdb-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="https://github.com/Reyes06/AYD1_Backend" class="nav-link border border-light"
                            target="_blank" mdbWavesEffect>
                            <mdb-icon fab icon="github" class="mr-2"></mdb-icon>Repositorio
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="isLoggedIn">
                        <a (click)="cerrar()" class="ml-1 nav-link border border-light rounded" mdbWavesEffect>
                            <i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                    </li>
                </ul>
        </links>
        <!-- Collapsible content -->

    </mdb-navbar>
    <!--/.Navbar-->

</header>
<!--Main Navigation-->