
<div class="row">
  <div class="col-md-3" *ngFor="let items of productos">
    <div class="card mb-3 shadow-sm">
      
      <div *ngIf="items.imagen != ''">
        <img class="bd-placeholder-img card-img-top p-2" width="100%" height="300" src={{items.imagen}} />
      </div>
      <div *ngIf="items.imagen === ''">
        <img class="bd-placeholder-img card-img-top p-2" width="100%" height="300" src="../../../assets/img/angular-mdb.png" />        
      </div>  

      <div class="card-body">
        <p class="card-text">
          <strong>Q {{ items.precio }}</strong>
          <i *ngIf="addedToWishlist" class="fas fa-heart float-right" (click)="handleRemoveFromWishlist()"></i>
          <i *ngIf="!addedToWishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
        </p>
        <p class="card-text">{{ items.descripcion | slice: 0:20 }}...</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary product-btn" (click)="handleAddToCart()">Add to
              Cart</button>
            <button type="button" class="btn btn-sm btn-outline-secondary product-btn">View Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
