<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Departamentos</h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body>

                <h3 class="mt-5 text-left"><strong>Eliminar Departamento</strong></h3>

                <div id="Div_Tabla_Departamentos" #Div_Tabla_Departamentos>
                
                <!--Table-->
                <table class="table">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>Número</th>
                        <th>Departamento</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                    <!--<tr>
                        <td>1</td>
                        <td>Hombres</td>
                        <td>
                            <button id="1" type="button" class="btn btn-danger" (click)="EliminarDepartamento(1)">Eliminar</button>
                        </td>
                        <td>
                            <button id="1,Hombres" type="button" class="btn btn-info" (click)="EditarProducto("1,Hombres")">Editar</button>
                        </td>                        
                    </tr>-->
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->                
                
                </div>

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>





<div class="row">  


    <div class="col-md-9">
  
        <!--Projects section v.2-->
        <section class="section text-justify pb-3">
  
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
  
                <!--Grid column-->
                <div class="col-lg-6 col-xl-5 mb-3" style="left:175px">
  
                    <!--Card-->
                    <mdb-card>
  
                        <!--Header-->
                        <div class="header blue-gradient">
                    
                        </div>
                        <!--Header-->
                    
                      </mdb-card>
                    <!--/.Card-->
  
                </div>
                <!--Grid column-->
                
            </div>
            <!--Grid row-->
  
        </section>
        <!--/Projects section v.2-->
    </div>
  
  
  </div>





<div class="row">

    <div class="col-md-9">
  
        <!--Projects section v.2-->
        <section class="section text-justify pb-3">
  
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
  
                <!--Grid column-->
                <div class="col-lg-6 col-xl-5 mb-3" style="left:175px">
  
                    <!--Card-->
                    <mdb-card>
  
                        <!--Header-->
                        <div class="header blue-gradient">
                    
                          <div class="row d-flex justify-content-center">
                            <h3 class="white-text mb-0 py-5 font-weight-bold">Agregar Departamento</h3>
                          </div>
                    
                        </div>
                        <!--Header-->
                    
                        <mdb-card-body class="mx-4">
  
                          <div class="md-form">
                            <mdb-icon fas icon="list" class="prefix grey-text"></mdb-icon>
                            <input type="text" id="form_id_departamento" class="form-control" mdbInput readonly>
                            <label for="form104">ID Departamento</label>
                          </div>

                          <div class="md-form">
                            <mdb-icon fas icon="clipboard" class="prefix grey-text"></mdb-icon>
                            <input type="text" id="form_nombre_departamento" class="form-control" mdbInput>
                            <label for="form104">Nombre Departamento</label>
                          </div>
                        
                          <!--Grid row-->
                          <div class="row d-flex align-items-center mb-3 mt-4">
                    
                            <!--Grid column-->
                            <div class="col-md-12">
                              <div class="text-center">
                                <button type="button" mdbBtn color="blue" rounded="true" class="z-depth-1a" (click)="AgregarDepartamento()">Agregar</button>
                              </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-12">
                              <div class="text-center">
                                <button type="button" mdbBtn color="blue" rounded="true" class="z-depth-1a" (click)="EditarDepartamentoAux()">Editar</button>
                              </div>
                            </div>
                            <!--Grid column-->
                    
                          </div>
                          <!--Grid row-->
                        </mdb-card-body>
                    
                      </mdb-card>
                    <!--/.Card-->
  
                </div>
                <!--Grid column-->
                
            </div>
            <!--Grid row-->
  
        </section>
        <!--/Projects section v.2-->
    </div>
  
  
  </div>