<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Productos</h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body>
  
                <h3 class="mt-5 text-left"><strong>Agregar <!--o Eliminar -->Categorías a Productos</strong></h3>

                <!-------------------------------------------------------------------------------------------------------------------------------------->
                <div id="Div_Tabla_Productos" #Div_Tabla_Productos>
                
                <!--Table-->
                <table class="table">
  
                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                    <tr class="text-white">
                        <th>Número</th>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th></th>
                        <th></th>
                        <!--<th></th>
                        <th></th>-->
                    </tr>
                    </thead>
                    <!--Table head-->
  
                    <!--Table body-->
                    <tbody>
                    <!--<tr>
                        <td>1</td>
                        <td>Camisa</td>
                        <td>
                        <img
                        src="Imagen en Base 64";
                        alt="..."
                        class="img-fluid"
                        style="width: auto; height: auto; max-height: 100px"
                        />
                        </td>
                        <td>
                            <select id="id_pais" (change)="on_id_pais()">
                                <option value=1>Guatemala</option>
                                <option value=2>El Salvador</option>
                            </select>
                        </td> 
                        <td>
                            <button id="EditarProducto●▲143" type="button" class="btn btn-info" (click)="EditarProducto("EditarProducto●▲143")">Editar</button>
                        </td>                        
                        <td>
                            <select id="id_pais" (change)="on_id_pais()">
                                <option value=1>Guatemala</option>
                                <option value=2>El Salvador</option>
                            </select>
                        </td>
                        <td>
                            <button id="EliminarProducto●▲143" type="button" class="btn btn-danger" (click)="EliminarProducto("EliminarProducto●▲143")">Eliminar</button>
                        </td>                       
                    </tr>-->
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->                
                
                </div>
                <!-------------------------------------------------------------------------------------------------------------------------------------->

  
            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
  </div>