<div class="row mt-5">
    <div class="col-md-12">
        <!--Card-->
        <mdb-card cascade="true" narrower="true" class="mt-5">
            <!--Card image-->
            <div class="view gradient-card-header blue darken-2">
                <h4 class="h4-responsive text-white">Pedidos </h4>
            </div>
            <!--/Card image-->
            <!--Card content-->
            <mdb-card-body>

                <h3 class="mt-5 text-left"><strong>Realizar Envio</strong></h3>

                <!--Table-->
                <table class="table" id="pedido">

                    <!--Table head-->
                    <thead class="mdb-color darken-3">
                        <tr class="text-white">
                            <th></th>
                            <th>Direccion de Envio</th>
                            <th>Confirmacion</th>
                        </tr>
                    </thead>
                    <!--Table head-->

                    <!--Table body-->
                    <tbody>
                        <tr *ngFor="let item of pedido;let indexOfelement=index;">
                            <td>{{ indexOfelement+1 }}</td>
                            <td>{{ item.direccion_envio }}</td>
                            <td>
                                <button type="button" class="btn btn-success"
                                    (click)="aprobar(item.id_compra)">Aceptar</button>
                            </td>
                        </tr>
                    </tbody>
                    <!--Table body-->
                </table>
                <!--Table-->

            </mdb-card-body>
            <!--/.Card content-->
        </mdb-card>
        <!--/.Card-->
    </div>
</div>